<fieldset id="order_details">
  <div class="clear"></div>
  <legend><%= t(@order.state, :scope => :order_state).titleize %></legend>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
</fieldset>

<hr />

<% if @order.payzen_payment_step? %>
  <% @payzen_params = PayzenIntegration::Params.for_order(@order) %>
  <%= form_tag 'https://secure.payzen.eu/vads-payment/', :id => "payzen_form", :method => 'post' do %>
    <% PayzenIntegration::Params::PARAMS.each do |payzen_param| %>
    <input name="<%= payzen_param %>" type="hidden" value="<%= @payzen_params.send payzen_param %>" />
    <% end %>
    <input id="signature" name="signature" type="hidden" value="<%= @payzen_params.signature %>" />
    <input type="submit" class="continue button primary" value="Vers Payzen"/>
  <% end %>
  
  <%= link_to "Cancel this Order", destroy_current_order_path %>
<% else %>
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("place_order") %>"/>
</div>
<% end %>